################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AbestoMediaToolKit/bin/Debug/net8.0
/AbestoMediaToolKit/obj
/Abesto.MediaToolKit.Tests/bin/Debug/net8.0
/Abesto.MediaToolKit.Tests/obj
